.vscode/**
.vscode-test/**
src/**
node_modules/**
!node_modules/pdfjs-dist/build/pdf.mjs
!node_modules/pdfjs-dist/build/pdf.worker.mjs
!node_modules/pdfjs-dist/build/pdf.min.mjs
!node_modules/pdfjs-dist/build/pdf.worker.min.mjs
.gitignore
tsconfig.json
esbuild.js
**/*.ts
**/*.map
landing/**
*.ico
test-ext/**
